.instaImage{
    height:4rem;
}

.profileImage{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload_container{
    margin: 10px;
    display: flex;
    align-items: center;
    border: 2px solid red;
    cursor: pointer;
    border-radius: 5px;
}

.upload_container>*{
    margin: 3px;
    color: red;
}

.menu{
    position: absolute;
    right: 18rem;
    top: 4rem;
    display: none;
    display: flex;
    border: 1px solid #ccc;
}

.menu>*{
    margin: 0.5rem;
}